# Core Dependencies
Django
django-tailwind

# REST Framework
djangorestframework

django-filter

# Authentication
django-allauth

# PDF Generation & Download Report
xhtml2pdf

# Virtual Environment
python-dotenv

# Database (PostgreSQL)
psycopg2-binary
