@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@theme {
  --color-primary: #0d0805;
  --color-secondary: #26201e;
  --color-text-primary: #1d1e20;
  --color-text-secondary: #000000;
}

@layer base {

  input:not([type='checkbox']):not([type='radio']),
  select,
  textarea {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm px-3 py-2 border;
  }

  label {
    @apply block text-sm font-medium text-gray-700 mt-4;
  }

  .helptext {
    @apply mt-1 text-xs text-gray-500;
  }

  .errorlist {
    @apply mt-1 text-xs text-red-600 list-none p-0;
  }
}