<footer class="bg-gray-900 text-gray-300 py-6 px-4 mt-auto text-center border-t border-gray-800">
    <div class="max-w-4xl mx-auto flex flex-col md:flex-row justify-between items-center text-sm">
        <p class="font-medium text-white mb-2 md:mb-0">Volunteer Information Management System</p>
        <p>Developed by <span class="font-bold text-blue-400 hover:text-blue-300 transition-colors"><a href="https://portfolio-neeraj-puce.vercel.app/" target="_blank">Neeraj Ojha</a></span></p>
    </div>
</footer>